<form action="/createAccount" method="post">
        <em>Create account with username and password:</em>

        <div>
        <label>Username:</label>
        <input type="text" name="username"/><br/>
        </div>

        <div>
        <label>Password:</label>
        <input type="password" name="password"/>
        </div>

        <div>
        <label>Email:</label>
        <input type="text" name="email"/>
        </div>

        <div>
        <label>Name:</label>
        <input type="text" name="givenName"/>
        <input type="text" name="familyName"/>
        </div>

        <div>
        <input type="submit" value="Submit"/>
        </div>
</form>
